@font-face {
  font-family: 'start';
  src: url('PressStart2P.ttf');
}

* {
  font-family: start, sans-serif;
  color: white;
}

body {
  background-color: black;
  background-size: cover;
}

h1 {
  text-align: center;
}

#board {
  width: 312px;
  height: 312px;
  margin: 50px auto;
  position: relative;
}

.row1 {
  float:left;
}

.row2, .row3 {
  clear:left;
}

.square {
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
}

.icon {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
}

.scoreImg {
  width:300px;
  height: 150px;
  margin: 0 auto;
}

.scoreImg img, .scoreImg p {
  width: 60px;
  height: 60px;
  float: left;
  font-size: 2.5em;
}

.scoreImg p {
  margin: 10px 0 0 20px;
}

button {
  display: block;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 35px;
  background: transparent;
  border: 2px solid white;
  font-size: 20px;
}

.choices label, input {
  float: left;
  text-align: center;
  margin: 0;
  margin-left: 30px;
}

.choices {
  width: 770px;
  height: 10px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

#turn{
  text-align: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

#s1, #s2, #s4, #s7, #s8, #s5 {
  border-right: 2px solid white;
}

#s1, #s2, #s3, #s4, #s5, #s6 {
  border-bottom: 2px solid white;
}

#s2, #s3, #s6, #s8, #s9, #s5 {
  border-left: 2px solid white;
}

#s4, #s7, #s8, #s9, #s5, #s6 {
  border-top: 2px solid white;
}
